
    <div class="title col-md-12">
        <h1 class="text-center mt-5"><b>Nos services</b></h1>
    </div>

    <section class="etude-et-conception">

        <div class="col-md-6">
            <h1>Études et Conception</h1>
    
            <h5>Description :</h5>
                
            <p>
                Nous accompagnons nos clients dans la conception de projets adaptés à leurs besoins et 
                aux normes en vigueur. Grâce à des études approfondies et des outils modernes, nous 
                transformons vos idées en plans concrets.
            </p>
            
            <h5>Services inclus :</h5>
    
            <div>
                <ul>
                    <li>
                        <b>Études de faisabilité :</b>Analyse complète des aspects techniques, économiques et 
                        environnementaux pour garantir la viabilité du projet.
                    </li>
                    <li>
                        <b>Conception architecturale :</b>Création de plans architecturaux détaillés, en 
                        tenant compte des contraintes fonctionnelles et esthétiques.
                    </li>
                    <li>
                        <b>Modélisation 3D et BIM :</b>Visualisation réaliste des projets pour anticiper 
                        les défis et optimiser les résultats.
                    </li>
                    <li>
                        <b>Analyse des sols :</b>Études géotechniques pour garantir la stabilité et la durabilité des infrastructures.
                    </li>
                    <li>
                        <b>Plans d’exécution :</b>Élaboration de plans techniques précis pour guider les phases de construction.
                    </li>
                </ul>
            </div>
        </div>
        <img src="etude-et-conception.jpg" class="col-md-6 img" alt="etude et conception" />
    </section>
    
    <section class="conception">
        <img src="construction-et-realisation.jpg" class="col-md-6 mt-2 mt-2 img1" alt="construction-et-realisation" />
    
        <div class="col-md-6 introduction">
            <h1>Construction et Réalisation</h1>
            <h5>Description :</h5>
                
            <p>
                Notre équipe garantit la réalisation de projets de haute qualité en respectant les délais 
                et les budgets. Nous utilisons des matériaux de qualité et des techniques modernes pour des 
                constructions solides et durables.
            </p>
            
            <h5>Services inclus :</h5>
    
            <div>
                <ul>
                    <li>
                        <b>Construction résidentielle :</b>Maisons individuelles, immeubles d’appartements et 
                        logements sociaux.
                    </li>
                    <li>
                        <b>Construction commerciale :</b>Centres commerciaux, hôtels, immeubles de bureaux.
                    </li>
                    <li>
                        <b>Infrastructure publique :</b> Routes, ponts, hôpitaux, écoles et centres sportifs.
                    </li>
                    <li>
                        <b>Travaux de gros œuvre :</b>Fondations, structures en béton armé, charpentes métalliques.
                    </li>
                    <li>
                        <b>Second œuvre :</b>Finitions intérieures, plomberie, électricité et revêtements.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="etude-et-conception">
        <div class="col-md-6">
            <h1>Gestion de Projets</h1>
    
            <h5>Description :</h5>
                
            <p>
                Nous assurons une gestion efficace et transparente de vos projets, de la conception à la 
                livraison, pour garantir leur succès.
            </p>
            
            <h5>Services inclus :</h5>
    
            <div>
                <ul>
                    <li>
                        <b>Planification et suivi :</b>Gestion des calendriers, des ressources et des 
                        coûts pour respecter les délais et les budgets.
                    </li>
                    <li>
                        <b>Coordination des équipes :</b>Supervision des différents corps de métiers 
                        impliqués dans le projet.
                    </li>
                    <li>
                        <b>Contrôle de qualité :</b>Vérifications régulières pour assurer le respect 
                        des normes et standards en vigueur.
                    </li>
                    <li>
                        <b>Rapports réguliers :</b>Informations transparentes et actualisées sur l’avancement du projet.
                    </li>
                    <li>
                        <b>Solutions sur mesure :</b>Adaptation des stratégies en fonction des besoins spécifiques du client.
                    </li>
                </ul>
            </div>
        </div>
        <img src="istockphoto-1465317602-1024x1024 (1).jpg" class="col-md-6 img" alt="gestion des projets" />
    </section>
    
    <section class="conception">
        <img src="revetement.jpg" class="col-md-6 mt-2 mt-2 img1" alt="revetement" />
    
        <div class="col-md-6 introduction">
            <h1>Réhabilitation et Maintenance</h1>
            <h5>Description :</h5>
                
            <p>
                Nous redonnons vie aux bâtiments et infrastructures existants grâce à des services de 
                rénovation et d’entretien adaptés.
            </p>
            
            <h5>Services inclus :</h5>
    
            <div>
                <ul>
                    <li>
                        <b>Rénovation de bâtiments anciens :</b>Réhabilitation complète ou partielle 
                        pour moderniser et sécuriser vos structures.
                    </li>
                    <li>
                        <b>Réparation structurelle :</b>Renforcement des fondations, traitement des 
                        fissures, reprise des ouvrages fragilisés.
                    </li>
                    <li>
                        <b>Ravalement de façade :</b>Nettoyage, peinture et réparation pour améliorer 
                        l’esthétique et la durabilité.
                    </li>
                    <li>
                        <b>Entretien préventif :</b>Inspections régulières pour anticiper et éviter les pannes.
                    </li>
                    <li>
                        <b>Réaménagement d’espaces :</b>Optimisation des locaux existants pour un meilleur usage.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="etude-et-conception">
        <div class="col-md-6">
            <h1>Expertise et Consultation</h1>
    
            <h5>Description :</h5>
                
            <p>
                Nous offrons des services d’expertise technique pour évaluer vos projets et vous 
                conseiller sur les meilleures solutions à adopter.
            </p>
            
            <h5>Services inclus :</h5>
    
            <div>
                <ul>
                    <li>
                        <b>Diagnostic technique :</b>Évaluation des infrastructures pour identifier 
                        les problèmes et proposer des solutions adaptées.
                    </li>
                    <li>
                        <b>Études spécialisées :</b>Analyse sismique, thermique et énergétique pour 
                        optimiser vos projets.
                    </li>
                    <li>
                        <b>Consultation réglementaire :</b>Assistance pour le respect des normes 
                        locales et internationales.
                    </li>
                    <li>
                        <b>Accompagnement sur mesure :</b>Conseils personnalisés pour maximiser 
                        la performance et la rentabilité de vos projets.
                    </li>
                    <li>
                        <b>Expertise en litiges :</b>Analyse et résolution de conflits techniques 
                        ou contractuels liés aux projets.
                    </li>
                </ul>
            </div>
        </div>
        <img src="expertise-et-consultation.jpg" class="col-md-6 img" alt="expertise-et-consultation" />
    </section>
    
    <section class="conception">
        <img src="terrassement.jpg" class="col-md-6 mt-2 mt-2 img1" alt="terrassement" />
    
        <div class="col-md-6 introduction">
            <h1>Terrassement</h1>
            <h5>Description :</h5>
                
            <p>
                Nous réalisons tous les travaux de terrassement nécessaires pour préparer vos 
                terrains à la construction. Notre expertise garantit des fondations solides et adaptées.
            </p>
            
            <h5>Services inclus :</h5>
    
            <div>
                <ul>
                    <li>
                        <b>Nivellement :</b>Préparation des sols pour garantir une surface plane et stable.
                    </li>
                    <li>
                        <b>Excavation :</b>Creusement pour les fondations, les piscines ou les sous-sols.
                    </li>
                    <li>
                        <b>Drainage :</b>Installation de systèmes pour évacuer l’eau et prévenir les inondations.
                    </li>
                    <li>
                        <b>Remblayage :</b>Ajout de terre ou de gravats pour stabiliser les terrains.
                    </li>
                    <li>
                        <b>Traitement des sols :</b>Compactage et stabilisation pour assurer une base solide.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="etude-et-conception">
        <div class="col-md-6">
            <h1>Services Supplémentaires</h1>
    
            <h5>Description :</h5>
                
            <p>
                Nous offrons également une gamme étendue de services complémentaires pour 
                répondre à tous vos besoins.
            </p>
            
            <h5>Services inclus :</h5>
    
            <div>
                <ul>
                    <li>
                        Installation de systèmes photovoltaïques pour des bâtiments écologiques.
                    </li>
                    <li>
                        Location de matériel de construction : grues, bétonnières, bulldozers.
                    </li>
                    <li>
                        Formation professionnelle : Apprentissage des techniques modernes de construction.
                    </li>
                    <li>
                        Gestion immobilière : Développement et vente de biens immobiliers.
                    </li>
                    <li>
                        Systèmes de gestion énergétique : Solutions pour réduire la consommation d’énergie.
                    </li>
                    <li>
                        Design d’intérieur : Conception et aménagement d’espaces personnalisés.
                    </li>
                </ul>
            </div>
        </div>
        <img src="labourer-1436010.jpg" class="col-md-6 img" alt="labourer" />
    </section>
    
  

