
        <section class="portfolio-section-photos">

          <h1 class="text-center mt-2 title"><b>Portfolio</b></h1>

            <h2>Études et Conception</h2>
            
            <div class="grid-paysages">
                
                  <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="unnamed.png" class="col-md-6 img3" alt="construction-et-realisation" />
                  </button>

                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Étude et conception</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="unnamed.png" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            
                
                    <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                      <img src="house-design.jpg" class="img3" alt="construction-et-realisation" />
                    </button>
  
                    
                    <div class="modal fade btn1" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel1">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="house-design.jpg" class="img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                  
                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                      <img src="images (17).jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel2">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="images (17).jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                      <img src="images (18).jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel3">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="images (18).jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                      <img src="images (19).jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel4">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="images (19).jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                      <img src="images (20).jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel5">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="images (20).jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                      <img src="12.jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel6">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="12.jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal7">
                      <img src="images (21).jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel7">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="images (21).jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                      <img src="images (22).jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel8">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="images (22).jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

            </div>
        </section>


        <section class="portfolio-section-photos">
          <h2>Construction et Réalisation</h2>
          <div class="grid-paysages">
              


            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal9">
              <img src="1.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel9">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="1.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal10">
              <img src="2.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel10" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel10">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="2.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal11">
              <img src="3.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel11">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="3.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal12">
              <img src="6.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel12" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel12">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="6.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal13">
              <img src="8.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel13" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel13">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="8.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal14">
              <img src="9.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel14" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel14">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="9.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal15">
              <img src="11.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel15" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel15">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="11.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal16">
              <img src="10.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel16" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel16">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="10.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal17">
              <img src="12.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal17" tabindex="-1" aria-labelledby="exampleModalLabel17" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel17">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="12.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal18">
              <img src="13.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal18" tabindex="-1" aria-labelledby="exampleModalLabel18" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel18">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="13.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal19">
              <img src="14.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal19" tabindex="-1" aria-labelledby="exampleModalLabel19" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel19">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="14.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal20">
              <img src="15.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal20" tabindex="-1" aria-labelledby="exampleModalLabel20" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel20">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="15.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal21">
              <img src="16.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal21" tabindex="-1" aria-labelledby="exampleModalLabel21" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel21">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="16.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal22">
              <img src="17.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel22" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel22">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="17.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal23">
              <img src="18.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal23" tabindex="-1" aria-labelledby="exampleModalLabel23" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel23">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="18.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal24">
              <img src="19.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal24" tabindex="-1" aria-labelledby="exampleModalLabel24" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel24">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="19.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal25">
              <img src="20.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal25" tabindex="-1" aria-labelledby="exampleModalLabel25" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel25">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="20.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal26">
              <img src="21.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal26" tabindex="-1" aria-labelledby="exampleModalLabel26" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel26">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="21.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal27">
              <img src="22.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal27" tabindex="-1" aria-labelledby="exampleModalLabel27" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel27">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="22.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal28">
              <img src="23.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal28" tabindex="-1" aria-labelledby="exampleModalLabel28" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel28">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="23.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal29">
              <img src="24.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
            </button>

           
            <div class="modal fade" id="exampleModal29" tabindex="-1" aria-labelledby="exampleModalLabel29" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel29">Construction et Réalisation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <img src="24.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

                
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal38">
                  <img src="25.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

               
                <div class="modal fade" id="exampleModal38" tabindex="-1" aria-labelledby="exampleModalLabel38" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel38">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="25.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

               
                <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal37">
                  <img src="26.jpg" class="img3" alt="construction-et-realisation" />
                </button>

                
                <div class="modal fade btn1" id="exampleModal37" tabindex="-1" aria-labelledby="exampleModalLabel37" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel37">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="26.jpg" class="img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal36">
                  <img src="27.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                
                <div class="modal fade" id="exampleModal36" tabindex="-1" aria-labelledby="exampleModalLabel36" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel36">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="27.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal35">
                  <img src="28.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal35" tabindex="-1" aria-labelledby="exampleModalLabel35" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel35">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="28.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal34">
                  <img src="29.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal34" tabindex="-1" aria-labelledby="exampleModalLabel34" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel34">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="29.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal33">
                  <img src="28.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal33" tabindex="-1" aria-labelledby="exampleModalLabel33" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel33">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="28.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal30">
                  <img src="20220923_162425.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                
                <div class="modal fade" id="exampleModal30" tabindex="-1" aria-labelledby="exampleModalLabel30" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel30">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="20220923_162425.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal31">
                  <img src="20220924_142556.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                
                <div class="modal fade" id="exampleModal31" tabindex="-1" aria-labelledby="exampleModalLabel31" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel31">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="20220924_142556.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal32">
                  <img src="IMG-20230419-WA0016.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                
                <div class="modal fade" id="exampleModal32" tabindex="-1" aria-labelledby="exampleModalLabel32" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel32">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="IMG-20230419-WA0016.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
      </section>


      <section class="portfolio-section-photos">
        <h2>Réhabilitation et Maintenance</h2>
        <div class="grid-paysages">
            
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal41">
                <img src="natraco-1714735616-2116622927.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal41" tabindex="-1" aria-labelledby="exampleModalLabel41" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel41">Étude et conception</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="natraco-1714735616-2116622927.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal40">
                <img src="images (16).jpeg" class="img3" alt="construction-et-realisation" />
              </button>

              <!-- Modal -->
              <div class="modal fade btn1" id="exampleModal40" tabindex="-1" aria-labelledby="exampleModalLabel40" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel40">Étude et conception</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="images (16).jpeg" class="img3" alt="construction-et-realisation" />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal39">
                <img src="images (23).jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal39" tabindex="-1" aria-labelledby="exampleModalLabel39" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel39">Étude et conception</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="images (23).jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

        
