
        <section class="portfolio-section-photos">

          <h1 class="text-center mt-2 title"><b>Portfolio</b></h1>

            <h2>Études et Conception</h2>
            
            <div class="grid-paysages">
                
                  <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="etude-et-conception.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                  </button>

                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Étude et conception</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="etude-et-conception.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            
                
                    <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                      <img src="house-design.jpg" class="img3" alt="construction-et-realisation" />
                    </button>
  
                    
                    <div class="modal fade btn1" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel1">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="house-design.jpg" class="img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                  
                    <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                      <img src="gestion-de-projets.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                    </button>
  
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel2">Étude et conception</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <img src="gestion-de-projets.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                <!-- <a href="images/portfolio/paysage2.jpg" class="lien-conteneur-photo">
                    <img src="images/portfolio/paysage2.jpg" alt="Parc National d’Abel Tasman - Nouvelle-Zélande" />
                    <div class="photo-hover">Voir la photo</div>
                </a> -->
            </div>
        </section>


        <section class="portfolio-section-photos">
          <h2>Construction et Réalisation</h2>
          <div class="grid-paysages">
              
                
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                  <img src="construction-et-realisation.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

               
                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel3">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="construction-et-realisation.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

               
                <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                  <img src="IMG-20230419-WA0015.jpg" class="img3" alt="construction-et-realisation" />
                </button>

                
                <div class="modal fade btn1" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel4">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="IMG-20230419-WA0015.jpg" class="img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                  <img src="IMG-20230419-WA0016.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                
                <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel5">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="IMG-20230419-WA0016.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal6">
                  <img src="4 Ways to Improve Construction Site Safety.jpeg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel6">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="4 Ways to Improve Construction Site Safety.jpeg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal7">
                  <img src="IMG-20230419-WA0016.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel7">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="IMG-20230419-WA0016.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <img src="6.png" class="col-md-6 img3" alt="construction-et-realisation" />
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel8">Construction et Réalisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <img src="6.png" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </section>


      <section class="portfolio-section-photos">
        <h2>Réhabilitation et Maintenance</h2>
        <div class="grid-paysages">
            
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal9">
                <img src="revetement.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel9">Étude et conception</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="revetement.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal10">
                <img src="istockphoto-1818587262-1024x1024.jpg" class="img3" alt="construction-et-realisation" />
              </button>

              <!-- Modal -->
              <div class="modal fade btn1" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel10" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel10">Étude et conception</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="istockphoto-1818587262-1024x1024.jpg" class="img3" alt="construction-et-realisation" />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary text-center btn1" data-bs-toggle="modal" data-bs-target="#exampleModal11">
                <img src="revetement.jpg" class="col-md-6 img3" alt="construction-et-realisation" />
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel11">Étude et conception</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="revetement.jpg" class="col-md-6 mt-2 mt-2 img3" alt="construction-et-realisation" />
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

        
