
<header>

  <div class="divlogo">
    <div class="z-1 position-absolute rounded-3">
      <a [routerLink] = "['/accueil']" [routerLinkActive] = "['active']" class="pointer">
        <img src="logo.jpg" class="logo" alt="Logo du Groupe Njeujip Construction" />
      </a>
    </div>
  </div>
  
  <nav class="nav">
    <div>
        <a [routerLink] = "['/accueil']" [routerLinkActive] = "['active']" class="pointer">Accueil</a>
        <a [routerLink] = "['/nos-services']" [routerLinkActive] = "['active']" class="pointer">Nos services</a>
        <a [routerLink] = "['/portfolio']" [routerLinkActive] = "['active']" class="pointer">Portfolio</a>
        <a [routerLink] = "['/a-propos']" [routerLinkActive] = "['active']" class="pointer">À propos</a>
        <a [routerLink] = "['/contact']" [routerLinkActive] = "['active']" class="pointer">Contact</a>
    </div>
  </nav>


  <nav class="navbar bg-body-tertiary fixed-top d-lg-none">
    <div class="container-fluid">
      
      <button class="navbar-toggler d-lg-none ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body text-white">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item mx-3">
              <a class="nav-link active" data-bs-dismiss="offcanvas" aria-label="Close" aria-current="page" [routerLink] = "['/accueil']" [routerLinkActive] = "['active']" class="pointer" >Accueil</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" data-bs-dismiss="offcanvas" [routerLink] = "['/nos-services']" [routerLinkActive] = "['active']" class="pointer" >Nos services</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" data-bs-dismiss="offcanvas" [routerLink] = "['/portfolio']" [routerLinkActive] = "['active']" class="pointer" >Portfolio</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" data-bs-dismiss="offcanvas" [routerLink] = "['/a-propos']" [routerLinkActive] = "['active']" class="pointer" >À propos</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" data-bs-dismiss="offcanvas" [routerLink] = "['/contact']" [routerLinkActive] = "['active']" class="pointer" >Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>

<body>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>

<footer class="bg-dark text-white mt-5 mb-0">
  <div class="container">
  
      
          <div class="row header pb-4">
              <div class="col-md-3 pt-5 ">
              
                  <!-- <h4><b class="">Logements par catégories</b></h4> -->
                  <div class="mt-3">
                    <div class="">
                      <a class="nav-link lien-footer" [routerLink] = "['/accueil']" [routerLinkActive] = "['active']" class="pointer">
                        <img src="logo.jpg" class="logo" alt="Logo du Groupe Njeujip Construction" />
                      </a>
                    </div>                  
                  </div>
              </div>
    
              <div class="col-md-5 pt-5 ">
                  
                  <h4><b>A propos du Groupe Njeujip Construction</b></h4>
  
                  <div class="body pt-3">
                      
                          <div class="col-sm-7 div1">
                              <a
                              class="nav-link lien-footer"
                              [routerLink]="['/a-propos']"
                              [routerLinkActive]="['active']"
                              [routerLinkActiveOptions]="{ exact: true }"
                            >
                              Que voulez-vous savoir ?
                            </a>
                          </div>
                  
                          <div class="col-sm-7 mt-4 div2">
                              <a
                                  class="nav-link lien-footer"
                                  [routerLink]="['/contact']"
                                  [routerLinkActive]="['active']"
                                  [routerLinkActiveOptions]="{ exact: true }"
                              >Laissez vos avis
                              </a>
                          </div>
                     
                  
                      <div class="d-flex col-md-6 mt-4">
                          <div class="mx-4">
                              <a class="" href="https://www.facebook.com/profile.php?id=61572663174551">
                                  <i class="fa-brands fa-facebook-f icone"></i>
                              </a>
                          </div>
                          <div>
                              <a class="mx-2 my-4">
                                  <i class="fa-brands fa-instagram icone"></i>
                              </a>
                          </div>   
                      </div>     
                  </div>
              </div>
    
              <div class="col-md-4 pt-5">
                  <h4><b>Nous contacter</b></h4>
                  <div class="body pt-3 ">
                      <div class="d-flex mx-2 mt-2 col-md-8">
                          <span class="material-icons">
                              phone
                          </span>
                          <!-- <i class="fa-solid fa-location-dot"></i> -->
                          +2376678093362
                      </div>
                      <div class="d-flex mx-2 mt-3 col-md-8">
                        <span class="material-icons">
                            phone
                        </span>
                        <!-- <i class="fa-solid fa-location-dot"></i> -->
                         +2376695637555
                    </div>
                      <div class="mx-2 mt-3 col-md-7">
                          <a
                              class="nav-link lien-footer"
                              href="https://wa.me/237678093362"
                          >
                          <i class="fa-brands fa-whatsapp"></i>
                          +237 678093362
                          </a>
                      </div>
                      <div class="mx-2 mt-3 col-md-7">
                        <a
                            class="nav-link lien-footer"
                            href="https://wa.me/237695637555"
                        >
                        <i class="fa-brands fa-whatsapp"></i>
                        +237 695637555
                        </a>
                    </div>
                      <div class="mx-2 mt-3 col-md-10">
                          <a
                              class="nav-link lien-footer"
                              href="mailto:groupenjeujipconstruction10&#64;gmail.com"
                          >
                          <i class="fa-regular fa-envelope-open"></i>
                          groupenjeujipconstruction10&#64;gmail.com
                          </a>
                      </div>
                      
                  </div>
              </div>
          </div>
          
          <div class="p-4">
              <div class="d-flex footer">
                  <div>
                      © 2025 <b>Groupe Njeujip Construction</b>.
                  </div>
                  <div> 
                      Conçu et fièrement développé par <b>CNB TECHNOLOGY</b>
                  </div>
              </div>
          </div>
  
  </div>
  
  </footer>

  <!-- app.component.html -->
<button *ngIf="showScrollToTop" (click)="scrollToTop()" class="scroll-to-top" [class.visible]="showScrollToTop">
  <i class="fas fa-arrow-up"></i> <!-- Icône de la flèche vers le haut -->
</button>




  