
        <section class="section">
            <h1 class="text-center mt-5 title"><b>À propos de nous</b></h1>
            <div class="carre-contenu">
                <h2>Qui sommes-nous ?</h2>
                <p>
                    Le <b>Groupe Njeujip Construction</b> est une entreprise de construction dynamique et 
                    innovante, spécialisée dans la conception, la réalisation et la gestion de projets 
                    de construction de toutes envergures. Fondé avec l’ambition de transformer les 
                    espaces en combinant expertise technique, innovation et qualité, nous sommes devenus 
                    un acteur incontournable dans le secteur du bâtiment et des travaux publics.

                    Avec une équipe de professionnels qualifiés et expérimentés, nous nous engageons à 
                    offrir des solutions sur mesure répondant aux besoins spécifiques de nos clients, 
                    tout en respectant les normes les plus strictes en matière de qualité, de sécurité 
                    et d’environnement.
                </p>

                <h2>Notre mission</h2>
                <p>
                    Au <b>Groupe Njeujip Construction</b>, notre mission est de bâtir des infrastructures 
                    durables et de qualité, tout en contribuant au développement des communautés dans 
                    lesquelles nous opérons. Nous nous engageons à :
                </p>
                <ul>
                    <li>
                        Livrer des projets innovants et performants.
                    </li>
                    <li>
                        Respecter les délais et budgets convenus.
                    </li>
                    <li>
                        Assurer la satisfaction totale de nos clients à chaque étape de leur projet.
                    </li>
                </ul>

                <h2>Notre vision</h2>
                <p>
                    Devenir un leader incontesté dans le domaine de la construction et des travaux 
                    publics en Afrique et au-delà, en alliant excellence, durabilité et respect des 
                    valeurs humaines.
                </p>

                <h2>Nos valeurs</h2>
                <ul>
                    <li>
                        <b>Excellence :</b> Nous nous efforçons de dépasser les attentes grâce à une gestion 
                        rigoureuse et une expertise technique pointue.
                    </li>
                    <li>
                        <b>Innovation :</b> Nous adoptons les dernières technologies et techniques pour garantir 
                        des résultats optimaux.
                    </li>
                    <li>
                        <b>Durabilité :</b> Nous mettons un point d’honneur à intégrer des pratiques 
                        respectueuses de l’environnement dans tous nos projets.
                    </li>
                    <li>
                        <b>Intégrité :</b> Nous agissons avec honnêteté, transparence et professionnalisme 
                        dans toutes nos interactions.
                    </li>
                    <li>
                        <b>Collaboration :</b> Nous croyons au pouvoir du travail d’équipe pour relever les 
                        défis les plus complexes.

                    </li>
                </ul>

                <h2>Pourquoi nous choisir ?</h2>
                <ul>
                    <li>
                        <b>Expertise diversifiée :</b> Nous couvrons un large éventail de services, allant des 
                        études et conceptions à la gestion de projets, en passant par la réhabilitation, 
                        la maintenance et bien plus encore.
                    </li>
                    <li>
                        <b>Approche personnalisée :</b> Chaque projet est unique, et nous travaillons en 
                        étroite collaboration avec nos clients pour garantir que leurs besoins et 
                        attentes soient pleinement satisfaits.
                    </li>
                    <li>
                        <b>Engagement envers la qualité :</b> Nous utilisons les matériaux les plus fiables 
                        et collaborons avec les meilleurs partenaires pour assurer des réalisations 
                        solides et durables.
                    </li>
                </ul>

                <h2>Nos domaines d’intervention</h2>
                <p>Le Groupe Njeujip Construction intervient dans divers secteurs, notamment :</p>

                <ul>
                    <li>
                        Les infrastructures publiques et privées.
                    </li>
                    <li>
                        Les projets résidentiels et commerciaux.
                    </li>
                    <li>
                        Les travaux de génie civil et d’aménagement.
                    </li>
                    <li>
                        La réhabilitation et la rénovation de bâtiments existants.
                    </li>
                </ul>

                <h2>Contactez-nous</h2>
                <p>
                    Prêts à concrétiser vos projets de construction ? Faites confiance au 
                    <b>Groupe Njeujip Construction</b> pour transformer vos idées en 
                    réalisations exceptionnelles.
                </p>
                <div class="divcta">
                    <a [routerLink]="['/contact']" class="cta">CONTACTEZ-NOUS ICI</a>
                </div>
            </div>
            <div>
                <a [routerLink]="['/portfolio']" class="cta">VOIR NOTRE PORTFOLIO</a>
            </div>
        </section>


        <!-- <section class="section-tarifs section">
            <h2>Tarifs</h2>
            <table>
                <thead>
                    <tr>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Retouches photo
                            studio professionnel</td>
                        <td>x 800 photos</td>
                        <td>3 200€/800 photos</td>
                    </tr>
                    <tr>
                        <td>Assistant photo
                            lumière professionnel</td>
                        <td>x 2 sets studio</td>
                        <td>1 500€/journée</td>
                    </tr>
                </tbody>
            </table>

        </section> -->
   